/app/
/dist/
/emulators/
/fsstorage/
/logs/
/node_modules/
/sqlite/
/www/etc/
.editorconfig
.eslintignore
.gitignore
.yarnrc.yml
depl.sh
depl1.sh
firebase.json
firebase-debug.logs
firestore.indexes.json
firestores.rules
minio.jsonstorage.rules
ui-debug.log
webpack.config.mjs
